.chosen-list {
    display: flex;
    flex-direction: column;
    width: 33%;
    max-width: 300px;
}

.chosen-item {
    padding: 2px;
    margin: 2px;
    background: aliceblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    &:hover {
        background-color: cadetblue;
    }
}

.chosen-item-delete {
    font-weight: bolder;
    font-family: system-ui;
    &:hover {
        cursor: pointer;
    }
}