.chosen-list {
    display: flex;
    flex-direction: column;
    width: 33%;
    max-width: 300px;
}

.chosen-item {
    padding: 2px;
    margin: 2px;
    background: aliceblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    &:hover {
        background-color: cadetblue;
    }
}

.chosen-item-name-and-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chosen-item-buttons {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-left: 5px;
}

.chosen-item-delete {
    font-weight: bolder;
    font-family: system-ui;
    &:hover {
        cursor: pointer;
    }
}

.serve-details {
    display: flex;
    flex-direction: column;
}

.serve-details-time-location {
    margin-top: 5px;
}

.next-dates {
    max-height: 150px;
    overflow-y: auto;
}