<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello from CarolinaEats, <%= @user.email %></h1>
    <p>
      Some of your tracked dishes will be served soon:<br>
    </p>
    <ul>
        <% @menu_messages.each do |item, serve_dates| %>
            <%=item%>
            <ul>
              <% serve_dates.each do |sd| %>
                <li><%=sd%></li>
              <% end %>
            </ul>
        <% end %>
    </ul>
    <p>Have a great day!</p>
  </body>
</html>